<footer class="site-footer mt-auto py-4"></footer>
    <div class="container text-center">
        <p class="mb-1">&copy; {% now 'utc', '%Y' %} {{ settings.PROJECT_NAME }}. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of Service</a></li>
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
        </ul>
         <div>
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>